@font-face {
    font-family: BalooBhainaRegular;
    src: url("./BalooBhaina-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
.BalooBhainaRegular {
    font-family: BalooBhainaRegular, sans-serif;
}


/* @font-face {
    font-family: 'DINPro';
    src: url('./pingFangRegular.ttf');
    font-weight: normal;
    font-style: normal;
} */